@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #4d6a6d;
  --background-rgb: #f3eee1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #4d6a6d;
    --background-rgb: #f3eee1;
  }
}

.attentionGrab {
  animation: glowingInfo 2.5s infinite;
}

@keyframes glowingInfo {
  0% {
    background-color: #f3eee1;
    box-shadow: 0 0 0.3rem #a6b5e3;
    color: #4d6a6d;
  }
  30% {
    background-color: #a6b5e3;
    box-shadow: 0 0 0.5rem #f3eee1;
    color: #f3eee1;
  }
  100% {
    background-color: #f3eee1;
    box-shadow: 0 0 0.1rem #a6b5e3;
    color: #4d6a6d;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  overflow: scroll; /* prevent scrollbar from adjusting position of HTML elements */
}
